<md-card flex-gt-sm="90" flex-gt-md="80">
    <md-card-title class="p-16 h-75" layout="row">
        <md-card-title-text>
             <span class="md-headline secondary-text">Minhas notas</span>
        </md-card-title-text>
        <md-button class="md-icon-button" ui-sref="app.notes_new"  aria-label="menu" >
            <md-icon class="material-icons">add_circle</md-icon>
        </md-button>

    </md-card-title>
    <md-card-content>
 
        <div layout="row" class="simple-table">
            <table flex class="table table-hover">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Atualizado</th>
                         <th>URL</th>
                        <th class="w-50">Opções</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vm.archive">
                        <td>{{item.title}}</td>
                        <td>{{item.updated_at}}</td>
                        <td>{{item.url}}</td>
                        <td class="w-50">
                            <md-menu>
                                <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                    <md-icon class="material-icons">more_vert</md-icon>
                                </md-button>
                                <md-menu-content width="3">
                                    <md-menu-item>
                                        <md-button ui-sref="app.notes_edit({'url':item.url})">
                                            <md-icon class="material-icons">create</md-icon>
                                            Editar
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="ctrl.redial($event)">
                                            <md-icon class="material-icons">delete</md-icon>
                                            Excluir
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-card-content>
</md-card>
