
<md-sidenav layout="column" id="sidenav" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-tall md-hue-2">
        <span flex></span>
        <div layout="column" class="md-toolbar-tools-bottom inset">
            <user-avatar></user-avatar>
            <span></span>
            <div>Firstname Lastname</div>
            <div>email@domainname.com</div>
        </div>
    </md-toolbar>
    <md-list>
        <md-item ng-repeat="item in menu">
            <a>
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                    </div>
                    <div class="inset">{{item.title}}
                    </div>
                </md-item-content>
            </a>
        </md-item>
        <md-divider></md-divider>
        <md-subheader>Management</md-subheader>
        <md-item ng-repeat="item in admin">
            <a>
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                    </div>
                    <div class="inset">{{item.title}}
                    </div>
                </md-item-content>
            </a>
        </md-item>
    </md-list>
    
    <ul>
        <li class="collapsed">
            <div  layout="row" >

                <a class="ms-navigation-button" ui-sref="app.home" >
                     <md-icon class="material-icons">more_vert</md-icon>
                    <span class="title" flex>LALALALAL</span>
<!--                    <span class="badge white-fg" ng-style="{'background': node.badge.color}" ng-if="node.badge">{{node.badge.content}}</span>
                    <i class="icon-chevron-right s16 arrow" ng-if="vm.collapsable && vm.hasChildren"></i>-->
                </a>

            </div>
        </li>
    </ul>
</md-sidenav>


<div layout="column" flex>

    <div id="toolbar" ui-view="toolbar"></div>

    <md-content class="md-default-theme" flex md-scroll-y>
        <div layout="column" layout-padding>

            <div class="inset" hide-sm></div>

            <div id="content" 
                 ui-view="content" 
                 layout="row" 
                 layout-align="center center">                
            </div>

        </div>
    </md-content>

</div>
