
<md-sidenav layout="column" id="sidenav" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-lg')">
    <md-toolbar class="md-tall md-hue-2" layout="column" layout-align="center start ">
        <div layout="row" class="md-toolbar-tools-bottom inset">
            <div class="avatar w-60 h-60">
                <img ng-src="{{vm.profile.thumb_src}}" />
            </div>
            <div flex class="pl-8" layout="column" layout-align="center start ">
                <div>{{vm.profile.name}}</div>
                <div ng-if="vm.profile.email">{{vm.profile.email}}</div>
            </div>
        </div>
    </md-toolbar>
    <md-list>
        <!--        <md-item ng-repeat="item in menu">
                    <a>
                        <md-item-content md-ink-ripple layout="row" layout-align="start center">
                            <div class="inset">
                                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                            </div>
                            <div class="inset">{{item.title}}
                            </div>
                        </md-item-content>
                    </a>
                </md-item>
                <md-divider></md-divider>
                <md-subheader>Management</md-subheader>-->
        <md-item class="pointer" ui-sref="app.notes_new">
            <md-item-content md-ink-ripple layout="row" layout-align="start center">
                <div class="inset">
                    <md-icon class="material-icons">add_circle</md-icon>
                </div>
                <div class="inset">Nova nota
                </div>
            </md-item-content>
        </md-item>
        <md-item class="pointer" ui-sref="app.notes">
            <md-item-content md-ink-ripple layout="row" layout-align="start center">
                <div class="inset">
                    <md-icon class="material-icons">speaker_notes</md-icon>
                </div>
                <div class="inset">Todas as notas
                </div>
            </md-item-content>
        </md-item>
    </md-list>
    <span flex></span>
    <md-divider></md-divider>
    <div class="p-16" layout="column">
        <span class="secondary-text">Para poder salvar seus notes e ver outros notes salvos acesse a sua conta.</span>
        <md-button class="md-accent md-raised" ui-sref="login">Ir para login</md-button>

        <span class="secondary-text mt-16">Ainda não é cadastrado?</span>
        <md-button class="md-primary md-raised"  ui-sref="singup">Criar conta</md-button>
    </div>


</md-sidenav>


<div layout="column" flex>

    <div id="toolbar" ui-view="toolbar"></div>

    <md-content class="md-default-theme" flex md-scroll-y>
        <div layout="column" layout-padding>

            <div class="inset" hide-sm></div>

            <div id="content" 
                 ui-view="content" 
                 layout="row" 
                 layout-align="center center">                
            </div>

        </div>
    </md-content>

</div>
