<md-toolbar class="md-whiteframe-1dp md-hue-2" ng-show="!vm.showSearch">
    <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left')" hide-gt-lg aria-label="Menu" class="md-icon-button">
            <md-icon class="material-icons">menu</md-icon>
        </md-button>
        <h2>
            <span>NotePad</span>
        </h2>
        <span flex=""></span>
        <md-button class="md-icon-button" aria-label="Search" ng-click="vm.showSearch = !vm.showSearch">
            <md-icon class="material-icons">search</md-icon>
        </md-button>
        <md-menu>
            <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                <md-icon class="material-icons">more_vert</md-icon>
            </md-button>
            <md-menu-content width="3">
                <md-menu-item>
                    <md-button ui-sref="login">
                        <md-icon class="material-icons">power_settings_new</md-icon>
                        
                        Sair
                    </md-button>
                </md-menu-item>
                
            </md-menu-content>
        </md-menu>
    </div>
</md-toolbar>
 <md-toolbar class=" md-accent search-toolbar" ng-show="vm.showSearch">
        <div class="md-toolbar-tools">
          <md-button ng-click="vm.showSearch = !vm.showSearch" aria-label="Back">
            <md-icon class="material-icons">keyboard_backspace</md-icon>
          </md-button>
          <h3 flex="10" hide-xs hide-sm>
            Voltar
          </h3>
          <md-input-container md-theme="input" flex class="no-margin " md-no-float>
            <input ng-model="search.who" placeholder="Buscar">
          </md-input-container>
          <md-button aria-label="Search" ng-click="showSearch = !showSearch">
             <md-icon class="material-icons">search</md-icon>
          </md-button>
         
        </div>
       
      </md-toolbar>