<md-toolbar class="md-whiteframe-1dp md-hue-2">
    <div class="md-toolbar-tools">
        <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu" class="md-icon-button">
            <md-icon class="material-icons">menu</md-icon>
        </md-button>
        <h2>
            <span>NotPad</span>
        </h2>
        <span flex=""></span>
        <md-button class="md-icon-button" aria-label="Search">
            <md-icon class="material-icons">search</md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
            <md-icon class="material-icons">more_vert</md-icon>
        </md-button>
    </div>
</md-toolbar>