<md-card flex-gt-sm="90" flex-gt-md="80">
    <md-card-content>
        <h2>Activity 2</h2>
        <md-list>
            <md-item ng-repeat="item in vm.activity| filter:search">
                <md-item-content>
                    <div class="md-tile-left inset" hide-sm>
                        <user-avatar></user-avatar>
                    </div>
                    <div class="md-tile-content">
                        <h3>{{item.what}}</h3>
                        <h4>{{item.who}}</h4>
                        <p>
                            {{item.notes}}
                        </p>
                    </div>
                </md-item-content>
                <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                <md-divider hide-gt-sm ng-if="!$last"></md-divider>
            </md-item>
            <md-divider></md-divider>
            <md-item layout class="inset">
                <md-button layout layout-align="start center" flex class="md-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg> More
                </md-button>
            </md-item>
        </md-list>
    </md-card-content>
</md-card>

<!--

<div id="home" layout-padding layout="row" layout-align="center" style="margin-top: 30px">


    <md-card style="max-height: none!important" flex-gt-sm="90" gt-md="70">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Action buttons</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>

            <md-list>
                <md-item ng-repeat="item in vm.activity| filter:search" >
                    <md-item-content>
                        <div class="md-tile-left inset" hide-sm>
                            <user-avatar></user-avatar>
                        </div>
                        <div class="md-tile-content">
                            <h3>{{item.what}}</h3>
                            <h4>{{item.who}}</h4>
                            <p>
                                {{item.notes}}
                            </p>
                        </div>
                    </md-item-content>
                    <md-divider md-inset hide-sm ng-if="!$last"></md-divider>
                    <md-divider hide-gt-sm ng-if="!$last"></md-divider>
                </md-item>
                <md-divider></md-divider>
                <md-item layout class="inset">
                    <md-button layout layout-align="start center" flex class="md-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></svg> More
                    </md-button>
                </md-item>
            </md-list>

        </md-card-content>
    </md-card>-->




    <!--    <md-card>
    
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Action buttons</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
    
                Content
                <p ng-repeat="x in [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]">Test {{x}}</p>
                <p ng-repeat="x in [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]">Test {{x}}</p>
                <p ng-repeat="x in [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]">Test {{x}}</p>
                <p ng-repeat="x in [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]">Test {{x}}</p>
                <p ng-repeat="x in [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]">Test {{x}}</p>
                <p ng-repeat="x in [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]">Test {{x}}</p>
                <p ng-repeat="x in [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]">Test {{x}}</p>
                <p ng-repeat="x in [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]">Test {{x}}</p>
    
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
                <p>
                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                    two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button>Action 1</md-button>
                <md-button>Action 2</md-button>
            </md-card-actions>
        </md-card>-->
<!--

</div>
<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
    <md-icon class="material-icons">add</md-icon>
</md-button>-->